#Commentaire{
    width: 1140px;
    background-color: #363D6B;
    margin: auto;
    box-sizing: border-box;
}
form div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 20px 0;
}
#Pseudo,#Comment {
    background-color: #363D6B;
}

