.image-movie-detail {
    width: 500px;
    height: 100%;
    float: left;
}
.div-movie-detail {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.h2-detail,.h2-detail-recommndation {
    color: white;
    font-size: 3rem;
}

.detail-overview {
    color: white;
    font-size: 2rem;
    overflow: auto;
    width: 50%;
    margin-top: 200px;
    margin-left: 20px
}
.detail-affiche {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.detail-more-info {
    background-color: #363D6B;
    border-radius: 10px;
    color: white;
    font-size: 1.5rem;
    width: 20%;
    float:left;

}
.detail-more-info p {
    padding-top: 20px;
    
    padding-bottom: 20px;
}
.detail-bottom {
    margin-top: 50px;
    align-items: center;
    width: 100%;
}
.detail-recommandation {
    width: 40%;
    background-color: #363D6B;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}
.affiche-button {
    display: flex;
}
