.genre-container {
    width: 80%;
    float: right;
    margin-top: 20px;
    background-color: #363D6B;
    color: white;   
    margin-right: 10px;
}
.image-movie-genre {
    width: 200px;
    height: 100%;
    border-radius: 5px;
    transition: transform 0.2s;
}
.image-movie-genre:hover {
    cursor: pointer;
	transform: scale(1.1);
}
.h2-genre {
    background-color: #22274D;
    margin: 0;
    font-size: 2.5rem;
}
@media only screen and (max-width: 900px) {
    .genre-container{
        float: none;
        width: 100%;
    }
}
