.navigation {
    min-width: 100%;
    background-color: #363D6B; 
    height: 20%;
}
header::after {
    content: '';
    display: table;
    clear: both;
}
body {
    margin: 0;
    font-weight: 300;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo {
    float: left;
    height: 64px;
    width: 64px;
    position: absolute;
    left: 0;
    padding: 2px;
}
nav {
    float: right;
    padding-top: 20px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 70px;

}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.img-nav-pp {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.li-not-pp::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;

    top: 0;
    width: 0%;

    transition: all ease-in-out 150ms;

}
.li-not-pp:hover::before{
    width: 100%;
}