.modal {
    font-size: 12px;
    background-color: #363D6B;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #363D6B;
}
.content-popup {
  margin: auto;
  background: #363D6B;
  padding: 5px;
  display: flex;
  flex-direction: row;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.7);
}
.popup-header {
  color: white;
  font-size: 50px;
  text-align: center;
}
.select-wrapper {
  width: 100%;
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 150px;
}
.popup-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 15px;
}
.popup-select {
  width: 100%;
  margin-left: 10px;
}
.image-popup{
  float: left;
}
.popup-footer {
  text-align: center;
  margin-top: 15px;
  padding-bottom: 15px;
}
.h2-popup{
  color: white;
}

.coup-de-coeur{
  display: flex;
  justify-content: center;
}

[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
  
  &:checked + label {
    color: #e2264d;
    will-change: font-size;
    animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
  }
}

[for='toggle-heart'] {
  align-self: center;
  color: #aab8c2;
  font-size: 5em;
  cursor: pointer;
}

@keyframes heart {
  0%, 15% { font-size: 0; }
}

