.slide-container {
   width: 16%;
   max-width: 600px;
   margin-top: auto;
   margin-left: 2%;
   margin-bottom: auto;
   position: relative;
   float: left;
   top: 200px;
}
.image-container img {
   width: 98%;
   border: 3px solid black;
}
.h1-trending { 
   width: 100%;
   color: white; 
   font-family: 'Raleway',sans-serif; 
   font-size: 1rem; 
   font-weight: 800; 
   line-height: 72px; 
   margin: 0 0 2%; 
   text-align: center; 
   text-transform: uppercase; 
   background-color: #363D6B;
   border-radius: 10%;
}

@media only screen and (max-width: 900px) {
   .slide-container {
       float: none;
       width: 80%;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: auto;
       top: 20px;
   }
 }
